


<!--
====================================
area where book list is printed
====================================
-->
{% extends 'base.html' %}
    {% block content %}

    <h1>Homepage - the full list of books</h1>
    <a href="/books_list"></a>
    <button><a href="/create-book">create a new book</a></button>

    <div id="books"></div>

    <script>
//====================================
//fetch book data from books_list
//====================================
        const booksElement = document.getElementById('books')

        booksElement.innerHTML = 'Just a moment'

        const xhr = new XMLHttpRequest()
        const method = 'GET' // or POST
        const url = '/books_list'
        const responseType = 'json'

        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function(){

        const urlResponse = xhr.response
        const Items = urlResponse.response
        
        let finalExecution = "" 
        let i;
        for(i = 0; i < Items.length; i++){
            let currentItem = "<h3>" + Items[i].name + "</h3>"
            currentItem += "<h4>" + Items[i].author + "<h4>"
            currentItem += "<p>" + Items[i].description + "</p>"
            finalExecution += currentItem 
        }
        booksElement.innerHTML = finalExecution
        }
    xhr.send()
    </script>

<!--
====================================
book_create_view form sending to API
====================================
-->
<h2>Create a new book</h2>
<form method="POST" action="/create-book">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" value="/" name="next"/>
    <input type="text" name="name" />
    <input type="text" name="author" />
    <textarea type="text" name="description"></textarea>
    <button type="submit">Save</button>
</form>


{% endblock content %}